article{
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.project1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid rgb(79, 93, 82);
    padding: 30px 20px;
}
.project1__demo{
    position: relative;
    width: 50%;
    height: 500px;
    border: 5px solid rgb(79, 93, 82);
    transition: all 0.8s ease 0s;
    z-index: 1;

    transform: translate(120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.3s;
}
.project1__demo.active{
    transform: translate(0px, 0px); 
    opacity: 1;
}

.project1__demo:hover {
    height: 100vh;
}
.project1__demo img{
    width: 100%; 
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top;
    transition: all 0.8s ease 0s;
}

.project1__discription{
    width: 50%;
    position: relative;
}
.project1__title{
    margin: 0 0 30px 60px;
    font-size: 30px;

    transform: translate(120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.2s;
}
.project1__title.active{
    transform: translate(0, 0px); 
    opacity: 1;
}
.project1__discriptionDiscription{
    margin: 0 0 0 60px;
    font-size: 20px;

    transform: translate(120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.4s;
}
.project1__discriptionDiscription.active{
    transform: translate(0, 0px); 
    opacity: 1;
}



.project2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 3px solid rgb(79, 93, 82);
    padding: 30px 20px;
}
.project2__demo{
    position: relative;
    width: 50%;
    height: 500px;
    border: 5px solid rgb(79, 93, 82);
    transition: all 0.8s ease 0s;
    z-index: 1;
    

    transform: translate(-120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.3s;
}
.project2__demo.active{
    transform: translate(0px, 0px); 
    opacity: 1;
}
.project2__demo:hover{
    height: 100vh;
}

.project2__demo img{
    width: 100%; 
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top;
    transition: all 0.8s ease 0s;
}

.project2__discription{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
}
.project2__title{
    margin: 0 0 30px 0px;
    font-size: 30px;

    transform: translate(-120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.2s;
}
.project2__title.active{
    transform: translate(0, 0px); 
    opacity: 1;
}
.project2__discriptionDiscription{
    font-size: 20px;

    transform: translate(-120%, 0px); 
    opacity: 0;
    transition: all 1s ease 0.4s;
}
.project2__discriptionDiscription.active{
    transform: translate(0, 0px); 
    opacity: 1;
}